@import '@/styles/_variables.scss';
@import '@/styles/_mixins.scss';

.cardnews {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 140px 70px;
}

.cardslist__container {
  height: 300px;
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style: none;
  height: 100%;

}

.cardslist__title {
  color: $text-color-blue;
  font-size: 64px;
  font-weight: 700;
  line-height: 1.63418;
  margin-bottom: 20px;
}

@include desktop {
  .cardslist__container {
    gap: 20px;
  }
}

@include laptop {
  .cardnews {
    max-width: 1024px;
    padding: 0 42px 70px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .cardslist__container {
    display: flex;
    flex-wrap: wrap;
    // border: solid 1px blue;
}

  .cardslist__title {
    font-size: 55px;
    margin-bottom: 22px;
  }
}

@include tablet {
  .cardnews {
    // border: 2px solid red;
    padding: 20px 20px;
  }

  .cardslist__container {
    // border: solid green 1px;
    display: flex;
    flex-wrap: wrap;
  }

  .cardslist__title {
    font-size: 34px;
    margin-bottom: 25px;
    letter-spacing: -0.5px;
    padding: 0 42px;
  }
}

  @include mobile {
    .cardnews {
        display: flex;
        flex-direction: column;
        width: 300px;
        align-items: center;
    }

    .cardslist__container {
        flex-direction: column;
        width: 300px;
    }

    .cardslist__title {
      width: 100%;
      // padding: 0 7px;
      margin-bottom: 28px;
      padding: 0;
      letter-spacing: -0.1px;
    }
  }
