@import '../../../styles/_variables.scss';
@import '../../../styles/_mixins.scss';

.card {
  max-width: 360px;
}

.card__image {
  // width: 100%;
  display: block;
  object-fit: fill;
  object-position: right;
  border-radius: 5px;
  // background: $bg-color-ligth-grey;
  margin-bottom: 10px;
}

.card__title {
  color: $text-color-black;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.65;
  margin-bottom: 7px;
  letter-spacing: -0.35px;
}

.card__subtitle {
  flex-shrink: 0;
  color: $text-color-grey;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.70227;
  margin-bottom: 10px;
}

.card__text {
  color: $text-color-grey;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.1px;
}


.card__image_wrapper {
  position: relative;
}

.card__image_title {
  position: absolute;
  background-color: $bg-color-red;
  top: -10px;
  left: 20px;
  width: 77px;
  height: 21px;
  font-size: 10px;
  font-weight: 700;
  color: $text-color-white;
  padding: 5px 10px;
  text-align: center;
  border-radius: 5px;
}

// .card__link {
//   border-radius: 30px;
//   background: $bg-color-red;
//   display: block;
//   width: 211.2px;
//   padding: 16px 35px;
//   color: #fff;
//   text-align: center;
//   font-size: 15px;
//   font-weight: 500;
//   line-height: 1;
// }

// .card__link:hover {
//   background-color: rgba(209, 23, 44, 0.9);
//   transition: 0.3s ease-in-out;
// }

@include laptop {
  // .card__link {
  //   width: 176.3px;
  // }
  .card__title {
    letter-spacing: -0.3px;
  }
  .card__subtitle {
    letter-spacing: -0.3px;
  }
}

@include tablet {
  .card__title {
    font-size: 14px;
    letter-spacing: -0.2px;
    margin-bottom: 8px;
  }
  .card__subtitle {
    /*font-size: 14px;*/
    display: none;
  }
  .card__text {
    font-size: 14px;
    margin-bottom: 9px;
  }
  // .card__link {
  //   width: 220px;
  // }
}