@import '@/styles/_variables.scss';
@import '@/styles/_mixins.scss';

.feedbackCard__textPost {
  text-align: justify;
  text-align-last: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 25.5px;
  margin-bottom: 49px;
}

.feedbackCard__container {
  display: inline-block;
  min-width: 615px;
  height: 278px;
  padding: 45px 40px 80px;
  margin: 14px 0 35px;
  border-radius: 30px;
  border: 2px solid $border-color-blue;
  opacity: 0.3;
}

.feedbackCard__about {
  text-align: center;

  .feedbackCard__textName {
    // margin-bottom: 5px;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    color: $bg-color-blue;
  }

  .feedbackCard__textDescription {
    font-size: 16px;
    font-weight: 400;
    line-height: 26.15px;
  }
}

.feedbackCard__about {
  text-align: center;

  &__textName {
    font: {
      size: 20px;
      weight: 700;
      line-height: 28px;
      color: $bg-color-blue;
    }
  }

  &__textDescription {
    font: {
      size: 16px;
      weight: 400;
      line-height: 26.15px;
    }
  }
}

@include netbook {
  .feedbackCard__textPost {
    // font-size: 14px;
    // font-weight: 400;
    // line-height: 18px;
    margin-bottom: 10px;
  }
}

@include tablet {
  .feedbackCard__textPost {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 25px;
  }
}

@include mobile {
  .feedbackCard__textPost {
    font-size: 14px;
    line-height: 23.1px;
  }
}

.feedbackCard {
  background-color: rebeccapurple;
}


.feedbackCard:not(.swiper-slide-active) {
  color: red;
}