$bg-color-blue: #003263;
$bg-color-white: #FFF;
$bg-color-red: #D1172C;
$bg-color-dark_red: #6d1f28;

$breakpoint_desktop: 1280px;
$breakpoint_laptop: 1024px;
$breakpoint_netbook: 880px;
$breakpoint_tablet: 768px;
$breakpoint_mobile: 394px;
