$bg-color-blue: #003263;
$bg-color-white: #FFF;
$bg-color-red: #D1172C;

$breakpoint_desktop: 1280px;
$breakpoint_laptop: 1024px;
$breakpoint_netbook: 880px;
$breakpoint_tablet: 768px;
$breakpoint_mobile: 460px;