.footer__container {
    background-color: antiquewhite;
    height: 150px;
    // flex: 0 0 auto;
    // text-align: center;
    display: flex;

    justify-content: center;
    align-items: center;
    
}