@import '../../../styles/_variables.scss';
@import '../../../styles/_mixins.scss';

.myslider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.myslide {
  width: 680px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: 278px;
  padding: 45px 40px 80px;
  margin-top: 14px;
  border-radius: 30px;
  border: 2px solid $bg-color-blue;
  opacity: 0.3;
}

.swiper-slide-active {
  font-size: 22px;
  padding: 62px 74px 56px;
  opacity: 1;
  margin: 0;
  height: 327px; 
}

.swiper-slide-prev {
  padding-top: 44px;
}

.myslide.swiper-slide-prev {
  gap: 25px;
}

.swiper-slide-next {
  padding-top: 44px;
  overflow: hidden;
}

.myslide.swiper-slide-next {
  gap: 25px;
}

.swiper-pagination {
  position: relative;
  margin-top: 38px;
}

.swiper-pagination-bullets {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-right: 5px;
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
  margin: 0;
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  margin: 0;
  background-color: $bg-color-white;
  border-radius: 7.5px;
  border: 1px solid $bg-color-blue;
  opacity: 1;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  left: 3px;
}

.swiper-pagination-bullet-active {
  width: 16px;
  height: 16px;
  background-color: $border-color-red;
  border-radius: 10px;
  border: none;
}

@include tablet {
  .myslide {
    width: 320px;
    height: 240px; 
    // margin-top: 17px;
  }

  .swiper-slide-active {
    width: 400px;
    font-size: 22px;
    padding: 10px;
    opacity: 1;
    margin: 0;
    height: 280px; 
  }
}

@include netbook {
  .myslide {
    width: 400px;
    // margin-top: 17px;
  }

  .swiper-slide-active {
    width: 400px;
    font-size: 22px;
    padding: 10px;
    opacity: 1;
    margin: 0;
    height: 327px; 
  }
}

@include laptop {
  .myslide {
    width: 620px;
    margin-top: 17px;
  }

  .swiper-slide-active {
    margin: 0;
  }

  .swiper-slide-active {
    padding: 62px 43px 56px;
  }

  .swiper-pagination-bullets.swiper-pagination-horizontal {
    left: 0px;
  }
}


@include mobile {
  .myslide {
    width: 280px;
  }

  .swiper-slide {
    width: 300px;
  }

  .swiper-slide-active {
    width: 250px;
    // font-size: 22px;
    // padding: 10px;
    // opacity: 1;
    // margin: 0;
    // height: 327px; 
  }
}








