@import '@/styles/_variables.scss';
@import '@/styles/_mixins.scss';

.feedbacks__title {
  padding: 0 140px;
  padding-bottom: 20px;
  color: $bg-color-blue;
  font-size: 64px;
  font-weight: 700;
  line-height: 163.418%;
}

.feedbackCard__textPost {
  text-align: justify;
  text-align-last: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 25.5px;
}

.feedbackCard__container {
  display: inline-block;
  min-width: 615px;
  height: 278px;
  padding: 45px 40px 80px;
  margin: 14px 0 35px;
  border-radius: 30px;
  border: 2px solid $border-color-blue;
  opacity: 0.3;
}

.feedbackCard__about {
  text-align: center;

  .feedbackCard__textName {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    color: $bg-color-blue;
  }

  .feedbackCard__textDescription {
    font-size: 16px;
    font-weight: 400;
    line-height: 26.15px;
  }
}

.feedbackCard__about {
  text-align: center;

  &__textName {
    font: {
      size: 20px;
      weight: 700;
      line-height: 28px;
      color: $bg-color-blue;
    }
  }

  &__textDescription {
    font: {
      size: 16px;
      weight: 400;
      line-height: 26.15px;
    }
  }
}

@include laptop {
  .feedbacks__title {
    padding: 0 42px 22px;
    font-size: 55px;
  }
}

@include tablet {
  .feedbackCard__textPost {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
  }
}

@include pocketpc {
  .feedbacks__title {
    padding: 0 47px 27px;
    font-size: 34px;
  }

  // .feedbackCard__textPost {
  //   font-size: 14px;
  //   line-height: 23.1px;
  // }
}

@include mobile {
  .feedbacks__title {
    padding: 0 47px 27px;
    font-size: 34px;
  }

  .feedbackCard__textPost {
    font-size: 14px;
    line-height: 23.1px;
  }
}
